@model ProductsListViewModel

<div>
    <h4 class="display-4">All Products are shown here</h4>
</div>

<h2>@Model.CurrentCategory</h2>

<div class="row">
    @foreach (var product in Model.Products)
    {
        @await Html.PartialAsync("ProductsSummary", product)
    }
</div>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary" class="btn-group">
</div>
